@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..600;1,8..144,100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

body {
	font-family: 'Roboto Serif', serif;
}
